In [62]:
import random

## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [63]:
# Your code here
samples_list_1=random.sample(range(101),80)
print(samples_list_1)

[66, 46, 91, 8, 4, 52, 75, 83, 36, 77, 98, 55, 78, 37, 10, 58, 61, 97, 29, 57, 60, 48, 21, 81, 19, 73, 42, 43, 35, 71, 68, 82, 7, 72, 20, 23, 50, 80, 39, 64, 18, 0, 14, 22, 95, 92, 2, 44, 40, 67, 85, 47, 15, 100, 33, 88, 70, 25, 38, 56, 9, 84, 26, 34, 63, 96, 51, 12, 76, 54, 28, 86, 93, 41, 6, 32, 3, 24, 99, 13]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [64]:
# Your code here
set1 = set(samples_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [65]:
# Your code here
sample_list_2 = [x for x in random.sample(range(101),80)]
print(sample_list_2)

[11, 9, 50, 26, 89, 45, 70, 90, 59, 72, 61, 53, 38, 62, 8, 32, 27, 48, 77, 60, 81, 18, 95, 99, 83, 34, 67, 55, 5, 51, 93, 75, 16, 13, 7, 71, 79, 84, 12, 36, 96, 49, 19, 25, 97, 98, 33, 17, 87, 15, 68, 37, 56, 82, 69, 94, 42, 44, 80, 10, 76, 24, 57, 91, 63, 2, 78, 21, 47, 92, 64, 30, 14, 1, 31, 65, 35, 3, 41, 52]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [66]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [67]:
# Your code here
set3 = set([x for x in set1 if x not in  set2])
print(set3)

{0, 4, 6, 20, 22, 23, 28, 29, 39, 40, 43, 46, 54, 58, 66, 73, 85, 86, 88, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [68]:
# Your code here
set4 = set([x for x in set2 if x not in set1])
print(set4)

{1, 5, 11, 16, 17, 27, 30, 31, 45, 49, 53, 59, 62, 65, 69, 79, 87, 89, 90, 94}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [69]:
# Your code here
set5 = set([x for x in set1 if x in set2])
print(set5)

{2, 3, 7, 8, 9, 10, 12, 13, 14, 15, 18, 19, 21, 24, 25, 26, 32, 33, 34, 35, 36, 37, 38, 41, 42, 44, 47, 48, 50, 51, 52, 55, 56, 57, 60, 61, 63, 64, 67, 68, 70, 71, 72, 75, 76, 77, 78, 80, 81, 82, 83, 84, 91, 92, 93, 95, 96, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [70]:
# Your code here

# set1 = set3 U set5
print('Set 1 is equal to set3 union set5') if (len(set3.union(set5)) == len(set1)) else print('Set 1 is not equal to set3 union set5')

# set2 = set4 U set5
print('Set 2 is equal to set4 union set5') if (len(set4.union(set5))) == len(set2) else print('Set 2 is not equal to set4 union set5')

# set3 = set1 - set5 
print('Set 3 is equal to set1 minus set5') if (len(set1) - len(set5)) == len(set3) else print('Set 3 is not equal to set1 minus set5')

# set4 = set2 - set5
print('Set 4 is equal to set2 minus set5') if (len(set2) - len(set5)) == len(set4) else print('Set 4 is not equal to set2 minus set5')

# set5 = set1 âˆ© set 2 

print('Set 5 is equal to set1 intersection set2') if (len(set1.intersection(set2)) == len(set5)) else print('Set 5 is not equal to set1 intersection set2')

Set 1 is equal to set3 union set5
Set 2 is equal to set4 union set5
Set 3 is equal to set1 minus set5
Set 4 is equal to set2 minus set5
Set 5 is equal to set1 intersection set2

#### Create an empty set called `set6`.

In [71]:
# Your code here
set6=set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [72]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{0, 2, 3, 4, 6, 7, 8, 9, 10, 12, 13, 14, 15, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 50, 51, 52, 54, 55, 56, 57, 58, 60, 61, 63, 64, 66, 67, 68, 70, 71, 72, 73, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 88, 91, 92, 93, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [73]:
# Your code here
print('Set1 and set 6 are equals') if (set1==set6) else print('Set1 and set 6 are differents')

Set1 and set 6 are equals

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [75]:
# Your code here
z = set1.issubset(set3)
print(f'Set1 contains Set2: {z}')

y = set1.issubset(set3)
print(f'Set 1 contains Set3 :{y}')

Set1 contains Set2: False
Set 1 contains Set3 :False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [76]:
# Your code here
union_s3s4s5 = set3.union(set4,set5)
print(union_s3s4s5)

union_s1s2s3s4s5 = union_s3s4s5.union(set1,set2)
print(union_s1s2s3s4s5)

#check if they are equals
print('The aggregated values are equals') if (union_s3s4s5 == union_s1s2s3s4s5) else print ('They are diff.')

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
The aggregated values are equals

#### Using the `pop` method, remove the first element from `set1`.

In [77]:
# Your code here
print(len(set1),set1)
#we can delete the first element with pop, because pop method delete 1 random element
set1.pop()
print(len(set1),set1)

80 {0, 2, 3, 4, 6, 7, 8, 9, 10, 12, 13, 14, 15, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 50, 51, 52, 54, 55, 56, 57, 58, 60, 61, 63, 64, 66, 67, 68, 70, 71, 72, 73, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 88, 91, 92, 93, 95, 96, 97, 98, 99, 100}
79 {2, 3, 4, 6, 7, 8, 9, 10, 12, 13, 14, 15, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 50, 51, 52, 54, 55, 56, 57, 58, 60, 61, 63, 64, 66, 67, 68, 70, 71, 72, 73, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 88, 91, 92, 93, 95, 96, 97, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [78]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

print([x for x in list_to_remove if x not in set1])

[1, 11, 31, 49, 59, 69, 79, 89]